<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d0550d6-321b-4638-bb42-a241c601929a" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-05-25T14:09:16</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-GB">Home</Name>
      <Name Culture="sv">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-GB">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <gridContent>
      <Value Culture="en-GB"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "46a370af-6c5a-482e-a0ff-d67a4f027a64",
      "key": "3c2c5ec2-a0fc-4e11-8c69-2ff67ec16fe7",
      "udi": null,
      "values": [
        {
          "alias": "markdown",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "## This is markdown"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "3c2c5ec2-a0fc-4e11-8c69-2ff67ec16fe7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "3c2c5ec2-a0fc-4e11-8c69-2ff67ec16fe7",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "46a370af-6c5a-482e-a0ff-d67a4f027a64",
      "key": "132e36fc-08f8-4d5e-8783-5637583c02dc",
      "udi": null,
      "values": [
        {
          "alias": "markdown",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "## This is markdown"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "132e36fc-08f8-4d5e-8783-5637583c02dc",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "132e36fc-08f8-4d5e-8783-5637583c02dc",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </gridContent>
  </Properties>
</Content>