<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c322755d-6a6e-4e1b-9026-781ee6dd4944" Alias="Markdown Block - Markdown - Markdown editor" Level="1">
    <Info>
        <Name>Markdown Block - Markdown - Markdown editor</Name>
        <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
        <DatabaseType>Ntext</DatabaseType>
    </Info>
    <Config><![CDATA[{
  "DefaultValue": null,
  "DisplayLivePreview": true,
  "ExternalLinksOpenInNewTab": true,
  "HeaderOffset": 2,
  "OverlaySize": "large"
}]]></Config>
</DataType>
