@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<MarkdownBlock>>

@if (!Model.Content.Markdown?.IsValid ?? true)
{
<div class="alert alert-danger">
    <strong>Markdown block error:</strong> The markdown block is not valid.
</div>
return;
}

<div>
    <div>
        <span class="display-3">Raw HTML</span>
        <pre><code>@Html.Raw(Html.Encode(Model.Content.Markdown.Html))</code></pre>
    </div>
    <div>
        <span class="display-3">Markdown</span>
        <pre><code>@Model.Content.Markdown.Raw</code></pre>
    </div>
    <div>
        <span class="display-3">Rendered HTML</span>
        @Html.Raw(Model.Content.Markdown.Html)
    </div>
</div>
