<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d0550d6-321b-4638-bb42-a241c601929a" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-05-25T14:09:16</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-GB">Home</Name>
      <Name Culture="sv">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-GB">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="90db0a7e-bfee-4808-ac56-4c6794c33559">home</Template>
  </Info>
  <Properties>
    <gridContent>
      <Value Culture="en-GB"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "46a370af-6c5a-482e-a0ff-d67a4f027a64",
      "udi": "umb://element/3c2c5ec2a0fc4e118c692ff67ec16fe7",
      "markdown": "## This is markdown"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/3c2c5ec2a0fc4e118c692ff67ec16fe7",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "46a370af-6c5a-482e-a0ff-d67a4f027a64",
      "udi": "umb://element/132e36fc08f84d5e87835637583c02dc",
      "markdown": "## This is markdown"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/132e36fc08f84d5e87835637583c02dc",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
    </gridContent>
  </Properties>
</Content>